@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AA4 Desarrollo de sistemas de información</h1>
    <hr />
    <h1 class="mb-3">Menu</h1>
    <a class="btn btn-primary nav-link text-white mb-1" asp-area="" asp-controller="Pais" asp-action="Index">Administrar paises</a>
    <a class="btn btn-primary nav-link text-white mb-1" asp-area="" asp-controller="Ciudad" asp-action="Index">Administrar ciudades</a>
    <a class="btn btn-primary nav-link text-white mb-1" asp-area="" asp-controller="Personas" asp-action="Index">Administrar personas</a>
    <a class="btn btn-primary nav-link text-white mb-1" asp-area="" asp-controller="Empleadoes" asp-action="Index">Administrar empleados</a>
    <a class="btn btn-primary nav-link text-white mb-1" asp-area="" asp-controller="Inventarios" asp-action="Index">Administrar inventario</a>
    <a class="btn btn-primary nav-link text-white mb-1" asp-area="" asp-controller="Facturas" asp-action="Index">Administrar facturas</a>
    <a class="btn btn-primary nav-link text-white mb-1" asp-area="" asp-controller="FacturaDetalles" asp-action="Index">Administrar detalles de factura</a>
    <a class="btn btn-primary nav-link text-white mb-1" asp-area="" asp-controller="Envios" asp-action="Index">Administrar envios</a>
</div>